$panel-header-color: #5E6469;
$selectable-color: rgba(122, 158, 255, 0.7);

@mixin true_transition {
  transition: 0.1s ease;
}

div[class*='panel-'] {
  @include true_transition
}

.panel_contents table {
  margin-bottom: 0.1em !important;
}

.selectable {
  background-color: $selectable-color !important;
}

.hided, #collection_selection_toggle_panel {
  display: none;
}

.show-content, .to-structure, .show-childrens {
  cursor: pointer;
  float: right;
}

.panel-header span {
  color: $panel-header-color;
  font-weight: bold;
  font-size: 1.1em !important;
}

.panel-container {
  padding-bottom: 0.4em !important;
}

.panel-margin-bottom {
  margin-bottom: 0em !important;
  
}